body{
  padding: 5px;
  /* background-image: linear-gradient(135deg, rgb(233, 204, 184), rgb(196, 68, 141), rgb(163, 143, 64)); */
}
main{
  background-image: radial-gradient(circle at bottom left, rgb(135, 160, 224), rgb(167, 231, 255));
  padding: 10px;
  box-shadow: 5px 10px rgba(210, 210, 210, 0.53);
}
header{
  background-color: rgb(31, 31, 31);
  color: white;
  margin: auto;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 5px 10px rgba(210, 210, 210, 0.53);
}
ul{
  display: contents;
}
li{
  display: inline-block;
  font-size: 20px;
  padding: 15px;
}
li:hover{
  background-color: rgb(73, 73, 73);
  border-radius: 15px;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: rgb(162, 200, 251);
}
p{
  column-count: 4;
  column-rule: 2px solid;
  text-align: justify;
  font-size: 18px;
}
footer{
  background-color: rgb(10, 10, 10);
  color: white;
  text-align: center;
  padding: 1px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 10px rgba(210, 210, 210, 0.53);
}
img{
  display: block;
}
.slider-img{
  margin: 0 auto;
  width: 90%;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(150, 150, 150, 0.81);
}
.image{
  float: left;
  width: 200px;
  height: 50%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
}
